<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.3.1" targetFramework="net48" />
  <package id="cef.redist.x64" version="79.1.36" targetFramework="net48" />
  <package id="cef.redist.x86" version="79.1.36" targetFramework="net48" />
  <package id="CefSharp.Common" version="85.3.130" targetFramework="net48" />
  <package id="CefSharp.Wpf" version="79.1.360" targetFramework="net48" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net48" />
  <package id="Exort.GithubBugtracker" version="1.0.5" targetFramework="net48" />
  <package id="Google.Apis" version="1.45.0" targetFramework="net48" />
  <package id="Google.Apis.Auth" version="1.45.0" targetFramework="net48" />
  <package id="Google.Apis.Core" version="1.45.0" targetFramework="net48" />
  <package id="Google.Apis.Sheets.v4" version="1.45.0.1965" targetFramework="net48" />
  <package id="Google.Protobuf" version="3.6.1" targetFramework="net48" />
  <package id="K4os.Compression.LZ4" version="1.1.11" targetFramework="net48" />
  <package id="K4os.Compression.LZ4.Streams" version="1.1.11" targetFramework="net48" />
  <package id="K4os.Hash.xxHash" version="1.0.6" targetFramework="net48" />
  <package id="MySql.Data" version="8.0.20" targetFramework="net48" />
  <package id="MySql.Data.Entity" version="6.10.9" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="NLog" version="4.7.1" targetFramework="net48" />
  <package id="Octokit" version="0.47.0" targetFramework="net48" />
  <package id="SharpAvi" version="2.1.2" targetFramework="net48" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0" targetFramework="net48" />
</packages>